<header class="header-hover-menu">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <span>📖</span> Мой Дневник
            </div>

            <!-- Кнопка меню для мобильных -->
            <button class="menu-toggle" id="menuToggle">☰</button>

            <nav class="main-nav">
                <ul class="main-menu" id="mainMenu">
                    <li><a href="/">Главная</a></li>

                    <!-- Меню Публичное -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">Публичное <span class="arrow">▼</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/moments/public/" class="nav-link">Публичные моменты</a></li>
                            <li><a href="/idea/public/" class="nav-link">Публичные мысли</a></li>
                            <li><a href="/goal/public/" class="nav-link">Публичные цели</a></li>
                            <li><a href="/habits/public/" class="nav-link">Публичные привычки</a></li>
                        </ul>
                    </li>

                    <!-- Меню Личное -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav-link">Личное <span class="arrow">▼</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/moments/my/" class="nav-link">Мои моменты</a></li>
                            <li><a href="/idea/my/" class="nav-link">Мои мысли</a></li>
                            <li><a href="/goal/my/" class="nav-link">Мои цели</a></li>
                            <li><a href="/habits/my/" class="nav-link">Мои привычки</a></li>
                        </ul>
                    </li>

                    <!-- Меню Пользователи -->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="#" class="nav-link" onclick="document.getElementById('logout-form').submit(); return false;">Выйти</a>
                            <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                                {% csrf_token %}
                            </form>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'user:profile' %}" class="nav-link">Профиль</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:login' %}">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:register' %}">Регистрация</a>
                        </li>
                    {% endif %}
                  </ul>
                </ul>
            </nav>
        </div>
    </div>
</header>
