{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Мои мысли{% endblock %}
{% block content %}
    <h2>Мои мысли</h2>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for idea in ideas %}
            <div class="col">
                <div class="card shadow-sm">
                  <img src="{{ idea.picture | media_filter }}" class="img-thumbnail" alt="{{ idea.name }}">
                  <div class="card-body">
                    <p class="card-text">{{ idea.name }}</p>
                    <p class="card-text">Описание: {{idea.description | truncatechars:100}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a class="btn btn-primary" href="{% url 'idea:idea_detail' idea.pk %}" role="button">Подробности</a>
                      </div>
                      </div>
                  </div>
                </div>
              </div>
              {% empty %}
            <!-- Если нет блогов, отображаем сообщение -->
                <div class="col-12 text-center">
                    <p>Нет опубликованных мыслей.</p>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    <div class="fixed-bottom d-flex justify-content-center mb-3">
        <a class="btn btn-primary btn-lg shadow" href="{% url 'idea:idea_create' %}" role="button">Записать мысли</a>
    </div>
{% endblock %}