{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Мои цели{% endblock %}
{% block content %}
    <h2>Мои цели</h2>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for goal in goals %}
            <div class="col">
                <div class="card shadow-sm">
                  <img src="{{ goal.picture | media_filter }}" class="img-thumbnail" alt="{{ goal.name }}">
                  <div class="card-body">
                    <p class="card-text">{{ goal.name }}</p>
                    <p class="card-text">Описание: {{goal.description | truncatechars:100}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a class="btn btn-primary" href="{% url 'goals:goal_detail' goal.pk %}" role="button">Подробности</a>
                      </div>
                      </div>
                  </div>
                </div>
              </div>
              {% empty %}
            <!-- Если нет целей, отображаем сообщение -->
                <div class="col-12 text-center">
                    <p>Нет опубликованных целей.</p>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    <div class="fixed-bottom d-flex justify-content-center mb-3">
        <a class="btn btn-primary btn-lg shadow" href="{% url 'goal:goal_create' %}" role="button">Создать цель</a>
    </div>
{% endblock %}