{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row pt-3 pb-2 mb-3">
    <div class="col-lg-6 col-md-8 mx-auto">
        <div class="card mt-4 mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Сброс пароля</h4>
            </div>
            <div class="card-body">
                <p>Мы отправили Вам инструкции по установке пароля. Если учетная запись с указанным Вами адресом
                    электронной почты существует, Вы должны получить их в ближайшее время.</p>

                <p>Если Вы не получили электронное письмо, убедитесь, что ввели адрес, указанный при регистрации, и
                    проверьте папку со спамом.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
