{% extends 'base.html' %}

{% block content %}
<div class="row pt-3 pb-2 mb-3">
    <div class="col-lg-6 col-md-8 mx-auto">
        <div class="card mt-4 mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Пароль изменен</h4>
            </div>
            <div class="card-body">
                <p>Ваш пароль был успешно изменен.</p>
                <a href="{% url 'user:login' %}" class="btn btn-primary">Войти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
